@import "tailwindcss" theme(static);
@plugin "@tailwindcss/typography";

@theme static {
  --header-height: 3.5rem;
  --footer-height: 3.5rem;

  --background-top: oklch(0.9 0.068 66.06 / 56.47%);
  --background-rest: oklch(1 0.0222 106.8);

  --color-peach-50: oklch(0.985 0.008 56);
  --color-peach-100: oklch(0.965 0.015 55.5);
  --color-peach-200: oklch(0.92 0.0222 54.32);
  --color-peach-300: oklch(0.87 0.03 53.8);
  --color-peach-400: oklch(0.805 0.04 53.3);
  --color-peach-500: oklch(0.735 0.05 52.8);
  --color-peach-600: oklch(0.66 0.055 52.3);
  --color-peach-700: oklch(0.58 0.052 51.8);
  --color-peach-800: oklch(0.5 0.048 51.3);
  --color-peach-900: oklch(0.42 0.042 50.8);
  --color-peach-950: oklch(0.38 0.038 50.5);

  --color-jade-50: oklch(97% 0.03 126);
  --color-jade-100: oklch(93% 0.05 125.5);
  --color-jade-200: oklch(87% 0.08 125);
  --color-jade-300: oklch(79% 0.11 124.8);
  --color-jade-400: oklch(71% 0.13 124.6);
  --color-jade-500: oklch(64% 0.1455 124.41);
  --color-jade-600: oklch(57% 0.14 124.2);
  --color-jade-700: oklch(50% 0.13 124);
  --color-jade-800: oklch(43% 0.115 123.8);
  --color-jade-900: oklch(36% 0.095 123.6);
  --color-jade-950: oklch(32% 0.085 123.4);

  --color-coral-50: oklch(97% 0.02 31);
  --color-coral-100: oklch(92% 0.04 30.5);
  --color-coral-200: oklch(84% 0.07 30);
  --color-coral-300: oklch(74% 0.1 29.8);
  --color-coral-400: oklch(62% 0.13 29.5);
  --color-coral-500: oklch(39% 0.1615 29.23);
  --color-coral-600: oklch(34% 0.15 29);
  --color-coral-700: oklch(30% 0.14 28.8);
  --color-coral-800: oklch(26% 0.12 28.6);
  --color-coral-900: oklch(22% 0.1 28.4);
  --color-coral-950: oklch(19% 0.09 28.2);

  --ui-bg: var(--color-peach-200);
  --ui-bg-elevated: var(--color-peach-200);

  --ui-border: var(--color-peach-300);
}

@layer base {
  /* fix macOS scroll bounce effect */
  html {
    background-color: var(--ui-bg);
  }

  body {
    background: linear-gradient(
      var(--background-top) 3em,
      var(--background-rest) 230px
    );
  }
}

@import "@nuxt/ui";
